body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.mouse {
width: 47%;
}

.logos {
  width: 70%;
  position: relative;
}

.my-caricature {
  width: 17%;
  position: relative;
  }

h1
{
  font-size: 4rem;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.science-text {
  font-weight: normal;
}

.intro {
  width: 50%;
  margin: auto;
  }

p {
  padding-bottom: 30px;
  position: relative;
  line-height: 2;
}

a {
color: #f2f2f2;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}

a:hover {
  color: #111113;
}

.copyright {
  color: #f2f2f2;
  font-size: 0.75rem;
}
.top-container {
background-color: #f2f2f2;
position: relative;
padding-top: 50px;
}

.second-container {
  background-color: #111113;
  padding-top: 50px;
  }

.third-container {
  background-color: #f2f2f2;
  padding-top: 50px;
  }

.fourth-container {
  background-color: #111113;
  padding: 100px;
  }

.skill-row {
  width: 50%;
  margin: 0  auto 100px  auto;

}
.bottom-container {
  background-color: #808080;
  padding-top: 50px;
  }

.btn {
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px 10px 20px;
  background-color: #F5D700;
  cursor: pointer;
  border-radius: 10px;
  color: #111113;

}

.btn:hover {
  background: #808080;
  border-radius: 10px;
 }
